/* SENSORS  - Working?*/
&i2c2 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>; 

    /* Magno */
    lis3mdl_magn: lis3mdl-magn@1e {
        compatible = "st,lis3mdl-magn";
        reg = <0x1e>;
        status = "okay";
    };
};

/ {
    chosen {
        zephyr,console = &usart1;
        zephyr,shell-uart = &usart1;
    };
};