&i2c1 {
    status = "okay";

    gt911@5d {
        compatible = "goodix,gt911";
        reg = <0x5d>;
        irq-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
        reset-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
        label = "GT911";
        status = "okay";
    };
};

&gpio0 {
    status = "okay";
};

&spi2 {
    status = "okay";
};
